@charset "UTF-8";

@font-face {
    font-family: 'Hanken';
    src: url(../assets/fonts/HankenGrotesk-VariableFont_wght.ttf) format('opentype');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: gray;
    font-family: 'Hanken',sans-serif;
}

main {
    background-color: rgb(240, 240, 240);
}

aside {
    background-color: white;
}

p {
    font-size: 18px;
}

section#point {
    background-image: linear-gradient(to bottom,hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    text-align: center;
    border-radius: 0px 0px 25px 25px;
}

section#point > h1{
    color: hsla(0, 0%, 83%, 0.757);
    font-size: 1.1em;
    padding-top: 20px;
    padding-bottom: 20px;
}

section#point > h2 {
    color: hsl(0, 0%, 100%);
    padding-top: 20px;
    padding-bottom: 10px;
}

section#point > p {
    color: hsla(0, 0%, 83%, 0.757);
    font-size: .9em;
    width: 250px;
    margin: auto;
    padding-bottom: 35px;
}

section#point > div#circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(to bottom,hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    width: 125px;
    margin: auto;
    padding-top: 20px;
    cursor: default;
}

section#point > div#circle > span {
    font-size: 3em;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
}

section#point > div#circle > p {
    padding-bottom: 20px;
    color: hsla(0, 0%, 83%, 0.563);
}

section#summary > h1 {
    color: hsl(224, 30%, 27%);
    font-size: 1.2em;
    padding: 20px;
}

section#summary > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

section#summary > ul > li {
    display: flex;
    justify-content: space-between;
    

    width: 320px;
    margin-bottom: 10px;
    padding: 20px 10px;
    border-radius: 13px;
    list-style-type: none;
}

section#summary > ul > li > span.number {
    text-align: right;
    color:hsl(224, 30%, 27%);
    font-weight: bold;
}

section#summary > ul > li > span.number > span {
    color: rgb(174, 174, 174);
}

section#summary > ul > li#reaction {
    background-color: hsla(0, 100%, 67%, 0.190);
}

section#summary > ul > li#reaction > p {
    color: hsl(0, 100%, 67%);
}

section#summary > ul > li#memory {
    background-color: hsl(39, 100%, 56%,  0.190);
}

section#summary > ul > li#memory > p {
    color: hsl(39, 100%, 56%);
}

section#summary > ul > li#verbal {
    background-color: hsl(166, 100%, 37%,  0.190);
}

section#summary > ul > li#verbal > p {
    color: hsl(166, 100%, 37%);
}

section#summary > ul > li#visual {
    background-color: hsl(234, 85%, 45%,  0.190);
}

section#summary > ul > li#visual > p {
    color: hsl(234, 85%, 45%);
}

section#summary > div#btn {
    display: flex;
    justify-content: center; 
}

section#summary > div#btn > p {
    background-color: hsl(224, 30%, 27%);
    color: white;
    text-align: center;
    width: 320px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 35px;
    border-radius: 25px;
    cursor: pointer;  
    transition: 300ms;
}

section#summary > div#btn > p:hover {
    background-color:  hsl(224, 31%, 12%);
    transform: scale(104%)
}

footer {
    background-color: hsl(221, 100%, 96%);
    text-align: center;
    color: black;
    padding: 4px;
}

footer a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: hsl(241, 81%, 54%);
}


